---
title: >
        Vendita Appartamenti Piazzale Cadorna 10 Milano

description: >
        Da inserire

testata:
    prima_riga: Vendita Appartamenti a Milano
    hasButton: 0
    seconda_riga: >

            Piazzale Cadorna 10<br>

immagineTestata: https://prismic-io.s3.amazonaws.com/cadorna10/5ff78ecae3d969a20ad194167ffe3899cd12019b_testata.jpg

headCode: >

conversionCode: >

---


<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Solo 5 appartamenti disponibili</span>
            </a>
        </div>
</div>


<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Solo 5 appartamenti disponibili</span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row small-up-1 medium-up-2 large-up-4">
  <div class="column planimetrie">
    <div class="title">bilocale da 74mq</div>
    <img src="https://prismic-io.s3.amazonaws.com/cadorna10/ead9a9acc6827ead515be77d52aa056c6bbc1cac_app5.jpg">

  </div>
  <div class="column planimetrie">
    <div class="title">monolocale da 44mq</div>
    <img src="https://prismic-io.s3.amazonaws.com/cadorna10/6e7fa26136512dc2b89076674cc3140e4c36cf96_app8.jpg">

  </div>

  <div class="column planimetrie">
    <div class="title">monolocale da 42mq</div>
    <img src="https://prismic-io.s3.amazonaws.com/cadorna10/fc9d5fd1bd1d47954280c0096f5a68ed4c85b2b3_app7.jpg">

  </div>
  <div class="column planimetrie">
    <div class="title">monolocale da 37mq</div>
    <img src="https://prismic-io.s3.amazonaws.com/cadorna10/9023b0a7389a6111a63545069b066c4f478d867d_app6.jpg">

  </div>
</div>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row">
        <div class="small-12 columns">
            <a href="#form">
                <span class="importante"><strong>Vendita Appartamenti di Nuova Ristrutturazione in classe A e B</strong>, situati in <strong>Piazza Cadorna 10</strong>, nel cuore di Milano, circondati da servizi, trasporti, università e musei!</span>
            </a>
        </div>
</div>

<hr>

